---
layout: default
---
<section>
    <div class="container">
        <header class="major">
          <h2>{{ page.title }}</h2>
          <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            {% if page.comments %} • <a href="http://www.rarelyprolific.co.uk{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}
          </p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>
        
        <footer class="justified-flexbox">
            {% if page.previous %}
            <a href="{{ page.previous.url }}">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="next-link">Next post &rarr;</a> {% endif %}
        </footer>
      
        {% if page.comments %}
        <br />
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = "http://www.rarelyprolific.co.uk{{ page.url }}";
            this.page.identifier = "{{ page.id }}";
          };

          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://rarelyprolific.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif%}
    </div>

</section>
